<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!--BEGIN NON-NESTED CLASS SETTING-->
    <add key="Tweak.Examples.ApiSettings.ApiKey" value="45017dc5-bd7c-47fd-9495-06953e329db0" />
    <!-- Other ways to specify the setting above are, 
    <add key="ApiSettings.ApiKey" value="45017dc5-bd7c-47fd-9495-06953e329db0" />
    <add key="ApiKey" value="45017dc5-bd7c-47fd-9495-06953e329db0" />
    -->
    
    <add key="Tweak.Examples.ApiSettings.Endpoint" value="http://api.appsettings-example.test" />
    <!-- Other ways to specify the setting above are, 
    <add key="ApiSettings.Endpoint" value="http://api.appsettings-example.test" />
    <add key="Endpoint" value="http://api.appsettings-example.test" />
    -->
    <!--END NON-NESTED CLASS SETTING-->
    
    <!--BEGIN NESTED CLASS SETTING-->
    <add key="Tweak.Examples.Api.Settings.ApiKey" value="14c31ecd-2c37-4aa9-ba27-5f63403b0fc2" />
    <!-- Other ways to specify the setting above are,
    <add key="Tweak.Examples.Api+Settings.ApiKey" value="14c31ecd-2c37-4aa9-ba27-5f63403b0fc2" />
    <add key="Api+Settings.ApiKey" value="14c31ecd-2c37-4aa9-ba27-5f63403b0fc2" />
    <add key="Api.Settings.ApiKey" value="14c31ecd-2c37-4aa9-ba27-5f63403b0fc2" />
    <add key="Settings.ApiKey" value="14c31ecd-2c37-4aa9-ba27-5f63403b0fc2" />
    <add key="ApiKey" value="14c31ecd-2c37-4aa9-ba27-5f63403b0fc2" />
    -->
    
    <add key="Tweak.Examples.Api.Settings.Endpoint" value="http://api.appsettings-nested-class-example.test" />
    <!-- Other ways to specify the setting above are, 
    <add key="Tweak.Examples.Api+Settings.Endpoint" value="http://api.appsettings-nested-class-example.test" />
    <add key="Api+Settings.Endpoint" value="http://api.appsettings-nested-class-example.test" />
    <add key="Api.Settings.Endpoint" value="http://api.appsettings-nested-class-example.test" />
    <add key="Settings.Endpoint" value="http://api.appsettings-nested-class-example.test" />
    <add key="Endpoint" value="http://api.appsettings-nested-class-example.test" />
    -->
    <!--END NESTED CLASS SETTING-->
    
  </appSettings>
</configuration>